{% extends 'base.html.twig' %}

{% block title %}Mesure index{% endblock %}

{% block body %}
    <h1>Mesure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Datemesure</th>
                <th>Mesure</th>
                <th>Unité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mesure in mesures %}
            <tr>
                <td>{{ mesure.id }}</td>
                <td>{{ mesure.type }}</td>
                <td>{{ mesure.datemesure ? mesure.datemesure|date('Y-m-d') : '' }}</td>
                <td>{{ mesure.mesure }}</td>
                <td>{{ mesure.unité }}</td>
                <td>
                    <a href="{{ path('app_mesure_show', {'id': mesure.id}) }}">show</a>
                    <a href="{{ path('app_mesure_edit', {'id': mesure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mesure_new') }}">Create new</a>
{% endblock %}
