{% extends 'base.html.twig' %}

{% block title %}Mesure{% endblock %}

{% block body %}
    <h1>Mesure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mesure.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ mesure.type }}</td>
            </tr>
            <tr>
                <th>Datemesure</th>
                <td>{{ mesure.datemesure ? mesure.datemesure|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Mesure</th>
                <td>{{ mesure.mesure }}</td>
            </tr>
            <tr>
                <th>Unité</th>
                <td>{{ mesure.unité }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mesure_index') }}">back to list</a>

    <a href="{{ path('app_mesure_edit', {'id': mesure.id}) }}">edit</a>

    {{ include('mesure/_delete_form.html.twig') }}
{% endblock %}
